* {
  margin: 0px;
  padding: 0px;
  font-weight: light; 
  box-sizing: border-box;
  font-style: normal;
}

html,
body {
  width: 100%; // У Владимира этого нет
  height: 100%;
}

html {
  font-size: 16px;
  
  @include tablets {
    font-size: 15px;
  };
  
  @include phones {
    font-size: 14px;
  };
}

body {
  font-family: $font-text;
  font-style: normal;
  line-height: 1.42;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
width: 100%; // зачем это?
}
// min-height: 100%;  // Убрал. Зачем это? Ни на что не влияет. У секции - 100vh и минимум 650px
//}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul li {
  list-style: none;
}

.section {
  min-height: rem(650px); // почему именно MIN-height?
  height: 100vh; //  для отображения секции в высоту окна
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: rem(940px);
}

.main-page {
  @include background;
  background-image: url('../img/back/video-bg.png');
  position: relative;
}

.main-burger {
  @include flex-center;
  margin-right: rem(10px);
}

.title {
  font-family: $font-title; 
  font-size: $f-size_headtitle;
  color: $yellow;
  line-height: 1;
  
  &--color {
    &--white { 
      color: $white;
    }
    &--grey { 
      color: $grey;
    }
  }

  &--centered {
    text-align: center;
  }
}

.title-small {
  font-family: $font-cursivetitle; 
  font-size: $f-size_cursivetitle;
  color: $white;
  line-height: rem(60px);
  letter-spacing: -1.63px;
}

.main-scroll {
  width: rem(29px);
  height: rem(14px);
  background-image: url('../img/icons/arrow-scroll.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: absolute; 
  bottom: rem(30px);
  left: 50%;
  transform: translateX(50%);
  cursor: pointer;
}

.best {
  @include background;
  @include flex-center;
  background-image: url('../img/back/best-bg.png');
}

.best-container {
  @include flex-center;
  flex-direction: column;
}

.best-header__title {
  margin-bottom: rem(50px);
}

.address {
  @include text;
}

.phone {
  
  &__icon {
    width: rem(12px);
    height: rem(11px);
    margin-right: rem(10px);
  }
  
  &__digits {
    font-family: $font-text;
    font-size: $f-size_text;
    font-weight: 700;
    color: $orange;
  }
}

.vk__icon {
  width: 23px;
  height: 13px;
  fill: #585858;
  opacity: 0.3;
}

.facebook__icon {
  width: 20px;
  height: 20px;
  fill: #585858;
  opacity: 0.3;
}

.instagram__icon {
  width: 20px;
  height: 20px;
  fill: #585858;
}

.twitter__icon {
  width: 20px;
  height: 16px;
  fill: #585858;
}