@import './settings/normalize.scss';
@import './settings/_fonts.scss';
@import './settings/_vars.scss';
@import './settings/_mixins.scss';
@import './_layout.scss';
@import './blocks/_header.scss';
@import './blocks/_nav.scss';
@import './blocks/_main-content.scss';
@import './blocks/_paginator.scss';
@import './blocks/_best-content.scss';
@import './blocks/_reviews.scss';
@import './blocks/_buttons.scss';
