@import './settings/_mixins.scss';
@import './settings/_vars.scss';
@import './settings/normalize.scss';
@import './settings/_fonts.scss';
@import './_layout.scss';
@import './blocks/_icons.scss';
@import './blocks/_buttons.scss';
@import './blocks/_hamburger.scss';
@import './blocks/_header.scss';
@import './blocks/_nav.scss';
@import './blocks/_main-content.scss';
@import './blocks/_paginator.scss';
@import './blocks/_best.scss';
@import './blocks/_team.scss';
@import './blocks/_menu.scss';
@import './blocks/_reviews.scss';
@import './blocks/_form.scss';
@import './blocks/_contacts.scss';
