@function rem($px) { 
  @return $px/16px + 0rem;
}

@mixin tablets {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@mixin flex-between-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@mixin text {
  font-family: $font-text; 
  font-size: $f-size_text;
  font-weight: 300;
  color: $white;
}

@mixin button {
  color: $white;
  text-transform: uppercase;
  font-size: rem(13px);
  font-weight: 500;
  border-radius: 5px; 
  border: none;
  cursor: pointer;
  padding: rem(12px) rem(15px);
}

