//devises
$tablets: rem(768px);

//colors
//base

$font-title: 'Gagalin', sans-serif;
$font-cursivetitle: 'Lifehack', sans-serif;
$font-text: 'Ubuntu','Open Sans', sans-serif; 

$f-size_headtitle: rem(72px);
$f-size_cursivetitle: rem(65px);
$f-size_wework-title: rem(61px);
$f-size_menutitle: rem(40px);
$f-size_cursivetitle2: rem(24px);
$f-size_icons: rem(20px);
$f-size_text: rem(14px);

$yellow: #f9b43b;
$orange: #e45028;
$orange2: #e35028;
$orange-grad: #ec8e38;
$dark-orange: #c1401e;
$white: #fff;
$grey: #2f3234;
$black: #1f2122;

$container: rem(960px);
