//devises
$tablets: 768px;

//colors
//base

$font-title: 'Gagalin', sans-serif;
$font-cursivetitle: 'Lifehack', sans-serif;
$font-text: 'Ubuntu','Open Sans', sans-serif; 

$f-size_headtitle: 72px;
$f-size_cursivetitle: 65px;
$f-size_wework-title: 61px;
$f-size_menutitle: 40px;
$f-size_cursivetitle2: 24px;
$f-size_text: 14px;

$yellow: #f9b43b;
$orange: #e45028;
$dark-orange: #c1401e;
$white: #fff;
$grey: #2f3234;
$black: #1f2122;

$container: 960px;
