.burgers {
  @include flex-center;
  background: linear-gradient($yellow 0%, $orange-grad 50%, $yellow 100%);
  width: 100%;

  &__container {
    height: 100%;
    position: relative;
    @include flex-center;
    
    @include tablets { 
    flex-direction: column;
    }
  }
  &-icons-sidebar {
    @include flex-between;
    flex-direction: column;
    height: 100%;
    position: absolute;
    left: 36px;
    padding: 90px 0;

    @include tablets {
      flex-direction: row;
      align-items: flex-start;
      height: inherit;
      width: 100%;
      max-width: 470px;
      left: 50%;
      transform: translateX(-50%);
      top: 115px;
      padding: 0;
    }

    @include tablets {
      top: 50px;
    }

  }
}

.burgers-comp {
  width: 90px;
  height: 90px;
  background: rgba($orange2, .4);
  border: none;
  border-radius: 5px;
  @include flex-center;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.burgers-comp__burger-icon {
  width: 46px;
  height: 44px;
  fill: $white;
  stroke: $white;
  display: flex;
  justify-content: center;
  opacity: 1;
}


.burgers-comp:hover {
  background: $orange2;
}

.burgers-comp:focus + .burgers-comp__hover { // работает только с tabindex="0"
  height: 332px;
}


.burgers-comp {
  
  &__title {
    font-family: $font-title;
    font-size: $f-size_text;
    color: $white;  
  }

  &__icons {
    width: 48px;
    height: 48px;
    margin-right: 20px;
  }

  &__hover {
    height: 0;
    overflow: hidden;
    transition: .4s;
    position: relative;
    width: 270px;
    border: none;
    border-radius: 5px;
    background-color: $white;
    opacity: 90%;
    position: absolute;
    left: 100%;
      
    @include tablets {
      left: 19%;
      width: 321px;
      height: 0;
    }
    @include phones {
      width: 371px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    padding: 10px 20px 20px;
  }

 // &:hover {
 //   .burgers-comp__list {
 //     height: 332px;
 //     padding: 20px;
 //   }
 // }
  
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    @include tablets {
      justify-content: flex-start;  
    }
  }
  
  &__ingred-wrap {
    width: rem(62px);
    margin-right: rem(44px);
    z-index: 9999;
  }

  &__text {
    font-family: $font-text;
    font-size: $f-size_text;
    font-weight: 500;
    z-index: 9999;
  }
 
  &__close {             //это крестик, закрывающий полноэкранное меню (только для телефонов-планшетов)
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    cursor: pointer;

    @include tablets {
      display: flex;
    }
    
    &:focus + .burgers-comp__hover { // такое не работает! Выпадашка закрывается при клике на любом поле.
      height: 0;                        // это особенность :focus
    }

    &-pic {
      width: 18px;
      height: 18px;
    }
  }
}


.burgers-calories {
  position: relative;

  &__kkal-icon {
    width: rem(60px);
    height: rem(60px);
    display: flex;
  }
  &__1200 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $font-title;
    font-size: $f-size_icons;
    color: $white;  
    opacity: 50%;
  }
  &__title {
    text-align: center;
    font-family: $font-title;
    font-size: $f-size_text;
    color: $white;  
    opacity: 50%;
  }
}

.burgers-content {
  @include flex-center;

  @include tablets {
    flex-direction: column;
  }

  @include phones {
    max-width: 80%;
    padding-top: 12%;
  }



  &__picture, &__desc {
    flex: 1;
  }
 
  &__desc {
    @include flex-center;
    flex-direction: column;
  }

  &__title {
    font-family: $font-title;
    font-size: $f-size_headtitle;
    color: $white;
    line-height: rem(64px); 
    margin-bottom: rem(56px);
    
    @include tablets {
      max-width: 450px;
      text-align: center;
      margin-bottom: 50px;
    } 
  }
  
  &__text {
    @include text;
    line-height: rem(24px);
    margin-bottom: rem(6px);

    @include tablets {
      max-width: 565px;
      text-align: center;
    } 
  }

  &__price {
    font-family: $font-title;
    font-size: $f-size_headtitle;
    color: $orange2;
    letter-spacing: -1px;
    position: relative;
  
    @include tablets {
      transform: translateX(-25%);
    }
  }
 
  &__price > span {
    font-size: 30px;
  }
}

.burgers-content__button {
  position: absolute;
  bottom: 0;
  right: -125px;
}

.burgers-left-scroll {
  position: absolute;
  top: 50%;
  left: -3%;
  transform: rotateY(-50%);
}

.burgers-right-scroll {
  position: absolute;
  top: 50%;
  right: -3%;
  transform: rotateY(-50%);
}
