.button {
  @include button; 

  &--order {
    text-decoration: none;
    background-color: $orange;

    &:hover {
      background-color: $dark-orange;
    }
  }

  &--review {
    background-color: $grey;
    //width: rem(110px);   -- не нужна ширина, все выравнивается по контенту + паддинги баттона
    
    &:hover {
      background-color: $black;
    }
  } 

  &--desktop {
    @include phones {
      display: none;
    } 
  }

  &--phones {
    display: none;
    @include phones {
      display: inline-block;
    } 
  }

}





