.contacts {
  position: relative;

  &__map {
    @include background;
    background-image: url('../../img/back/Layer_4.png');
    width: 100%; // это свойство не срабатывает, видимо потому что не надо растягивать по ширине
    height: 100%;
  }

  &__footer {
    @include background;
    background-image: url('../../img/back/chalkboard_texture_small.png');
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &__footer-container {
    @include flex-between;

    @include phones {
      @include flex-center;
      flex-direction: column;
    }
  }


  &__footer-left {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: rem(7px) 0; 

    @include phones {
      align-items: center;
      padding: rem(18px); 
    }
  }

  &__phone {
    display: flex;
    align-items: center;
  }
  
 
  
  &__social {
    flex: 1;

    @include tablets {
      flex: 0;   //убираем специально, чтобы создать приоритет левой секции (flex:1), тогда слова не переносятся
    }
  
    &-list {
      display: flex;
      justify-content: flex-end;
    }

    &-item {
      margin-right: rem(20px);
      @include flex-center;

      &:nth-last-child(1) {
        margin-right: 0;
      }
  
      &:hover {
        .pic-color {
        fill: $white;
        }
      }
    }
  }  
}