.hamburger-menu {
  position: relative; 
  align-items: center;
  width: rem(24px);
  height: rem(22px);
  margin-left: rem(30px);
  //display: none;     @include tablets { display: flex }; //отключаем, чтоб не видно было на десктопе
}

.hamburger-menu-link {
  display: flex;
  height: 100%; 
  align-items: center;
}

.hamburger-menu-link__bars {
  position: relative;
  background: $white;
  width: 100%;
  height: rem(5px);
  border-radius: rem(3px);
  
  &:before, &:after {
    background: $white;  // почему-то у меня рисуется только 2 полоски
    width: 100%;
    height: rem(5px);
    border-radius: rem(3px);  
  } 
  
  &:before, &:after  {
    content: "";
    display: block;
    position: absolute;  
  }
  
  &:before { 
    top: -10px; 
  } 
  
  &:after { 
    top: rem(10px); 
  } 

}