.header {
  //width: 100%; //Ольга выставила такую ширину, не объяснила, зачем.
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: rem(12px);
  max-width: rem(754px)+rem(97px)+rem(92px);
}

.header__container {
  @include flex-between-wrap;
  width: rem(940px); //не знаю как задать ширину
}

.header__wrapper {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.header__button {
  display: inline-block;
}