.logo {
  width: rem(92px); 
  height: rem(69px);
}

.drops {
  width: rem(451px); 
  height: rem(241px);
}

.arrow-scroll {
  width: rem(29px); 
  height: rem(14px);
}

.meat {
  width: rem(97px); 
  height: rem(89px);
}

.hand {
  width: rem(73px); 
  height: rem(85px);
}

.natural {
  width: rem(88px); 
  height: rem(75px);
}

.burger {
  width: rem(46px);
  height: rem(44px);
}

.kkal {
  width: rem(60px);
  height: rem(60px);
}

.map-marker {
  width: rem(46px);
  height: rem(57px);
}
