.logo {
  width: rem(92px); 
  height: rem(69px);
}

.drops {
  width: rem(451px); 
  height: rem(241px);
}

.scroll {
  width: rem(29px);
  height: rem(14px);
}

.meat {
  width: rem(97px); 
  height: rem(89px);
}

.hand {
  width: rem(73px); 
  height: rem(85px);
}

.natural {
  width: rem(88px); 
  height: rem(75px);
}

.burger {
  width: rem(46px);
  height: rem(44px);
}

.kkal {
  width: rem(60px);
  height: rem(60px);
}

.map-marker {
  width: rem(46px);
  height: rem(57px);
}

.vk__icon {
  width: rem(23px);
  height: rem(13px);
}

.facebook__icon {
  width: rem(20px);
  height: rem(20px);
}

.instagram__icon {
  width: rem(20px);
  height: rem(20px);
}

.twitter__icon {
  width: rem(20px);
  height: rem(16px);
}

.pic-color {
  fill: #585858;
}

.phone {
   &-icon {
    width: rem(12px);
    height: rem(11px);
    margin-right: rem(10px);
  }
  
  &-digits {
    font-family: $font-text;
    font-size: $f-size_text;
    font-weight: 700;
    color: $orange;
  }
}