// не заданы стили для main-content. Стоит задать? Может, высоту например?
.main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-content__container {  
  @include content-container;
 // height: 100%;  //  почему здесь h100%  и будет ли она работать?  Похоже, не будет. Есть у секции height: 100vh
}

.main-content__we-do {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content__title {
  padding-top: 8px;
  margin-bottom: 35px;
}

.main-content__title-small {
  color: $white;
  line-height: 60px;
  letter-spacing: -1.63px;
}