.nav {
  max-width: rem(670px);

  @include tablets {
    display: none;
  }
}

.nav__list {
  @include flex-between-wrap;   // ПОЧЕМУ ЗДЕСЬ НЕ РАБОТАЕТ WRAP?
  font-size: rem(13px);          // при сжатии до ширины 480px  бэкграунд вываливается из окна. 
  color: $white;
  text-transform: uppercase;
       
 // @include tablets {
 //   display: none;  
 // }
}

.nav__item {
  display: flex;
  align-items: center;
  margin-right: rem(15px);

  &:after {
    content: "";
    height: 4px;
    width: 4px;
    border-radius: 50%;
    margin-left: rem(15px);
    display: block;              // Почему это нужно?
    background: $white;
  }

  &:nth-first-child {
    list-style: none;
  }

  &:nth-last-child(1) {
    &:after {
      content: "";
      display: none;
    }
  }
}


.nav__link {
  text-decoration: none;
}
