.nav {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  font-size: 13px;
  color: $white;
  text-transform: uppercase;
  max-width: 670px+97px+15px;
}

.nav__item {
  display: flex;
  align-items: center;
  margin-right: 15px;

  &:after {
    content: "";
    height: 4px;
    width: 4px;
    border-radius: 50%;
    margin-left: 15px;
    display: block;
    background: $white;
  }

  &:nth-first-child {
    list-style: none;
  }

  &:nth-last-child(1) {
    &:after {
      content: "";
      display: none;
    }
  }
}


.nav__link {
  text-decoration: none;
}
