.paginator {
  position: absolute;
  top: 90px;
  right: 52px;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    display: flex;
    position: relative;
    height: 20px; 
    margin-bottom: 15px;
  }
}

.paginator__link {
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 6px;
  width: 6px;
  background-color: $white;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;  // почему-то border-box в этом месте не сработал, пришлось специально задать
    width: 16px;
    height: 16px;
    padding: 4px;
    border-radius: 50%;
    border: 1px solid $white;
    left: 50%;
    bottom: -75%;  // методом тыка подобрал 75%
    transform: translateX(-50%);
  }     
  
  &:hover:before {
    border: 1px solid $yellow;
  }

}

