.reviews__header {
  display: none;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  height: 100%; // не понял, почему здесь. Что задать блоку .reviews?
}

.reviews__item {
  flex-basis: 25%;
  height: 50%;
  position: relative; // здесь relative чтобы закрасить сверху фоном с reviews__hover
  //filter: grayscale(100%);  // зачем это здесь? В макете нет такого.

  @include tablets {
    flex-basis: 50%;
    height: 25%;
  }

  &:hover {
    .reviews__hover {
      opacity: 1;
    }
  }

}

.reviews__pic {
  width: 100%;
  height: 100%;
  object-fit: cover; // свойство для растягивания / сжатия картинки по границам установленных размеров. 
}
//Это аналог background-size: contain.  
// Проверяем на caniuse.com - не поддерживает IE (но на работе может не потребоваться поддержка IE)

.reviews__hover {
  opacity: 0;
  color: $white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(20,20,20, 0.7);
  padding: rem(50px) rem(19px);
  transition: opacity .4s;

  @include tablets {
    @include flex-center;
    flex-direction: column;
    text-align: center;
  }
}

.reviews__name {
  font-family: $font-title;
  font-size: $f-size_text;
  color: $white;
  margin-bottom: rem(20px);
}

.reviews__text {
  @include text;
  line-height: rem(24px);
  margin-bottom: rem(10px);

  @include phones {
    display: none;
  }
}