.team {
  @include background;
  background-image: url('../../img/back/team.png');
  position: relative;

  &__container {
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #2f3234;
    opacity: 93%;
    padding: 8.5% 7%;
    
    @include tablets {
      width: 100%;
      left: 0;
    }
  }

  &__content {
    @include tablets {
      @include flex-center;
      flex-direction: column;
    }

  }

  &__header {
    margin-bottom: rem(40px);
    
    @include tablets {
      margin-top: 22%;
    }
  }

  &__accordeon-trigger {
    //margin-bottom: rem(17px); это почему-то не работает!!
    position: relative;

    &:before {
      content: '';
      background-image: url('../../img/icons/Polygon_1.svg');
      background-repeat: no-repeat;
      background-size: center;
      position: absolute;
      width: rem(9px);
      height: rem(7px);
      position: absolute;
      top: 50%; 
      left: rem(-20px);
    }
  }

  &__trigger-title {
    font-family: $font-title;
    font-size: $f-size_text;
    color: $white;
    text-transform: uppercase;
    color: $white;
    line-height: 3.7;  // !!! специально поставил 3, т.к. по-другому не получается сделать отступ !!!
  }
}

.team {
  
  &__accordeon {

    &-list {
      
      @include tablets {
        @include flex-center;
        flex-direction: column;
      }
    }
      
    &-item {
      padding-left: 20px;

      @include tablets {
        @include flex-center;
        flex-direction: column;
      }
    }

    &-item:hover {
      .team__accordeon-contentwrap {
      height: rem(100px);

        @include tablets {
          height: rem(195px);
      }
      
    }
    &-trigger:before {
      content: '';
      transform: rotate(180deg);
      }
      .team__trigger-title {
        color: $yellow;
      }
    }

    &-contentwrap {
      height: 0;
      overflow: hidden; // чтобы за границами секций не вылезало
     //height: 0; //здесь дучше height, а не max-height. При открываении будет 95px
      transition: .4s; // для плавности открывани и закрывания. ПОЧЕМУ_ТО НЕ РАБОТАЕТ
    
    
    }

    &-content {
      display: flex;
      
      @include tablets {
        @include flex-center;
        flex-direction: column;
      }
    }

    &-picture {
      @include flex-center;
      height: rem(100px);
      width: rem(100px);
      margin-right: rem(21px);

      @include tablets {
        margin-right: 0;
      }
    }
   
    &-textwrap {
      max-width: rem(208px);
    
      @include tablets {
        @include flex-center;
        flex-direction: column;
        max-width: rem(335px);
      }
    }

    &-position {
      font-family: $font-text; 
      font-size: $f-size_text;
      color: $white;
      font-weight: 700;
      margin-bottom: rem(12px);
    
      @include tablets {
        margin-top: rem(22px);
      }
    
    }
  
    &-text {
      @include tablets {
        text-align: center;
      }
    }

    &-desc {
      font-family: $font-text; 
      font-size: $f-size_text;
      color: $white;
      font-weight: 300;
      line-height: rem(24px);
    }
  }
}